# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Streamlit
.streamlit/

# Environment variables
.env

# SQLite database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db